body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #b80f80, #299b63);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: auto;
}

h2 {
    color:#299b63;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #299b63;
    color: white;
}

.add-btn {
    background:#299b63;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.add-btn:hover {
    background:#299b63;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background: darkred;
}

canvas {
    margin-top: 20px;
    width: 100%;
    height: 300px;
}